Alias /adminer "{{ adminer_install_dir }}"
<Directory "{{ adminer_install_dir }}">
    DirectoryIndex adminer.php
    {% if apache_vhosts_version == "2.2" %}
        Order allow,deny
        Allow from all
    {% else %}
        Require all granted
    {% endif %}
</Directory>
